#navbar-container{
  border-bottom: 3px solid rgba(128, 128, 128, 0.114);
}

#nav-logo{
  text-align: center;
  height: 20vh;
  margin-top: 70px;
}

#nav-logo #img1{
  height: 20vh;
  width: 8%;
}

#nav-logo #img2{
  height: 20vh;
  width: 50%;
}
/* 
.nav-links{
  text-align: center;
} */

.nav-links>*{
  margin: 0 10px;
}

.nav-links>*:hover{
  background-color: rgba(128, 128, 128, 0.114);
  /* color: white; */
  border-radius: 5px;
} 

#carousel{
  height: 40vh;
}


#carousel img{
  height: 40vh;
  border-radius: 10px;
  /* width: 150%; */
}

#about{
  height: 40vh;
  background-color: rgba(170, 42, 63, 0.333);
  border-radius: 10px;
}

#card{
  display: flex;
  border: 5px solid white;
  /* border: 1px solid black; */
}

#dynamic-container{
  background-color: rgba(240, 248, 255, 0.51);
  padding: 5px;
  margin-top: 2px;
}

#footer{
  background-color: rgba(128, 128, 128, 0.036);
}

#footer-divider{
  border: 2px solid rgba(128, 128, 128, 0.114);
  margin-bottom: 5px;
  width: 100%;
}

@media (max-width: 767px) {
  .download-table {
    width: 100%;
  }
  #carousel {
    display: none;
  }

  #nav-logo{
    height: 10vh;
  }
  #nav-logo #img1{
    height: 10vh;
    width: 20%;
   
  }
  #nav-logo #img2{
    height: 10vh;
    width: 80%;
  }
}
