#navbar-container{
  border-bottom: 3px solid rgba(128, 128, 128, 0.114);
}

#nav-logo{
  text-align: center;
  height: 20vh;
  margin-top: 70px;
}

#nav-logo #img1{
  height: 20vh;
  width: 8%;
}

#nav-logo #img2{
  height: 20vh;
  width: 50%;
}
/* 
.nav-links{
  text-align: center;
} */

.nav-links>*{
  margin: 0 10px;
}

.nav-links>*:hover{
  background-color: rgba(128, 128, 128, 0.114);
  /* color: white; */
  border-radius: 5px;
} 

#carousel{
  height: 40vh;
  /* border: 1px solid black; */
}

@media (max-width: 767px) {
    #carousel {
      display: none;
    }
  }

#carousel img{
  height: 40vh;
  /* width: 150%; */
}

#about{
  height: 40vh;
}

#card{
  display: flex;
  border: 5px solid white;
  /* border: 1px solid black; */
}

#dynamic-container{
  /* background-image: url("https://previews.123rf.com/images/aunaauna/aunaauna1501/aunaauna150100075/35874658-textile-texture-background-seamless-pattern-for-web-design-desktop-wallpaper-or-website.jpg"); */
  background-color: rgba(240, 248, 255, 0.51);
  padding: 5px;
  margin-top: 2px;
}

#footer{
  height: 20vh;
  width: 100%;
  border: 1px solid black;
}
